In [1]:
import numpy as np
import pandas as pd

**데이터 셀렉션 및 필터링**

판다스의 경우 ix[], iloc[], loc[] 연사자 사용 (넘파이는 []사용)

ex)dataframe뒤의 []에는 칼럼명,칼럼명리스트 만 가능!!(슬라이싱연산[1:2] 되지만 권장안함)

In [2]:
titanic_df = pd.read_csv("titanic_train.csv")

In [4]:
print('단일 컬럼 데이터 추출:\n', titanic_df['Pclass'].head(3))

단일 컬럼 데이터 추출:
 0    3
1    1
2    3
Name: Pclass, dtype: int64

In [6]:
print('\n여러 칼럼의 데이터 추출:\n',titanic_df[['Survived', 'Pclass']].head(3))

여러 칼럼의 데이터 추출:
    Survived  Pclass
0         0       3
1         1       1
2         1       3

In [7]:
print('[]안에 숫자 index는 keyError오류 발생:\n',titanic_df[0])

KeyError: 0

In [8]:
titanic_df[1:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [9]:
titanic_df[titanic_df['Pclass']==3].head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050,NaN,S